{% extends "base.html" %}
{% load static %}

{% block page_header %}
	<div class="container header-container">
		<div class="row">
			<div class="col"></div>
		</div>
    </div> 
{% endblock %}

{% block content %}
<!-- Add Question page  -->
<div class="container ">
   <div class="row">
      <div class="col-12 text-center mt-3">
         <br>
         <h2 class=" mb-4 test-left">Questions</h2>
         <p class="mb-2">Add Questions</p>
         <br>
      </div>
   </div>
   <div class="row pb-5">
    <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_review' %}" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right">
                    <a href="" class="btn">Cancel</a>
                    <button class="btn" type="submit">Add Review</button>
                </div>
            </form>
    </div>
</div>
</div> 
{% endblock %}