{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="add mb-4">Questions</h2>
                <h5 class="text-muted mb-4">Edit a Question</h5>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center align-content-center">
           <div class="col-12 col-md-6">
                <form class="form mb-2" action="{% url 'edit_question' question.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="fieldWrapper">
                        <label for="{{form.title.id_for_label}}">Title</label>
                        {{form.title}}
                        <span class="error">{{form.title.errors}}</span>
                    </div>
                    <div class="fieldWrapper">
                        <label for="{{form.detail.id_for_label}}">Detail</label>
                        {{form.detail}}
                    </div>

                    <div class="text-right">
                        <a class="btn rounded-0 prod-can" href="{% url 'questions' %}">
                           Cancle
                        </a>
                        <button class="btn add-button rounded-0" type="submit">Update My Question</button>
                    </div>
                </form>
           </div>
          
        </div>
    </div>
{% endblock %}



