{% extends "base.html" %}
{% load static %}

{% block page_header %}
	<div class="container header-container">
		<div class="row">
			<div class="col"></div>
		</div>
    </div> 
{% endblock %}

{% block content %}
<!-- Question page  -->
<div class="container ">
   <div class="row">
      <div class="col-12 text-center mt-3">
         <br>
         <h2 class=" mb-4 test-left">FAQ</h2>
         <p class="mb-2">We are here to serve our valued customers and answer their questions</p>
         <br>
      </div>
   </div>
   <!--------------Search for questions-->
   <div class="row">
       <div class="col-md-6 offset-3 py-3">
            <div class="input-group">
                <input type="text" class="form-control form-control-lg" placeholder="Search youe question" aria-label="Search your question" aria-describedby="button-addon2">
                <button class="btn btn-dark btn-lg" type="button" id="button-addon2">Search</button>
            </div>
       </div>
   </div>
   <!---------------Question list-->
   <div class="card mb-3">
       <div class="card-body">
           <div class="card-title">
               <h4>Question</h4>
               <p class="card-text text-left">Question Detail</p>
               <p class="text-left">
                   <a href="#" class="mr-2">Jone</a>
                   <a href="#" class="mr-2">5 Answers</a>
                   <a href="" class="mr-2">10 Comments</a>
               </p>
           </div>
       </div>
   </div>
   <div class="card mb-3">
        <div class="card-body">
            <div class="card-title">
                <h4>Question</h4>
                <p class="card-text text-left">Question Detail</p>
                <p class="text-left">
                    <a href="#" class="mr-2">Jone</a>
                    <a href="#" class="mr-2">5 Answers</a>
                    <a href="" class="mr-2">10 Comments</a>
                </p>
            </div>
        </div>
    </div>
   <!----------------------Paginations--> 
    <nav class="my-3">
        <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
        {% for question in questions %}
            <div class="col-12">
                <div class="card mb-5 mt-5">
                    <div class="card-body text-center">
                        <p class="font-weight-bold text-uppercase "> {{ question.question }}<i class="fas fa-question"></i> </p>
                        <p class="review-text">{{ question.created }}</p>
                        <p class="review-text font-italic font-bold mt-5">By: {{ question.question_by }}</p>
                        {% if request.user.is_superuser %}
                                <small class=" ml-1">
                                    <a class="edit-question" href="">Edit Review</a> | 
                                </small>
                                <small class="question-button">
                                    <a class= "delete-review" href="">Delete Review</a> 
                                </small>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %} 
    </div>

   <div class="row">
      <div class=" col text-center mt-3 mb-3 btn-add-review">
         <a href="" class="add-question-url">
            <span class="text-uppercase">Add Your Own Question</span>
         </a>
      </div>
   </div>
</div> 
{% endblock %}