{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-8 my-auto">
                    <h1 class="text-uppercase display-4 logo-font head-title">
                        <a href="" class="btn btn-lg rounded-0 py-3 ">
                            Get ready for the new year 2022, Make a good chioce!
                        </a>
                    </h1>
            </div>
        </div>
    </div>
{% endblock %}


