<script type="text/javascript">
    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemClass) {
        var currentValue = parseInt($(`.id_qty_${itemClass}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`.decrement-qty_${itemClass}`).prop('disabled', minusDisabled);
        $(`.increment-qty_${itemClass}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemClass = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemClass);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemClass = $(this).data('item_id');
        handleEnableDisable(itemClass);
    });

    // Increment Quantity
    $('.increment-qty').click(function(e){
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        var itemClass = $(this).data('item_id');
        handleEnableDisable(itemClass);
    })

    // Decrement Quantity
    $('.decrement-qty').click(function(e){
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        var itemClass = $(this).data('item_id');
        handleEnableDisable(itemClass);
    })

</script>