{% extends "base.html" %}
{% load static %}

{% block page_header %}
	<div class="container header-container">
		<div class="row">
			<div class="col"></div>
		</div>
    </div> 
{% endblock %}

{% block content %}
<!-- Newsletters page  -->
<div class="container-fluied">
    <div class=" w-100 vh-100 news-foto">
        <div class="container">
            <div class="row h-100">
                <div class="col-7 col-md-8 hp">
                    <h1 class=" display-4 head-title ml-3">
                        <a href="" class="btn btn-lg rounded-0 py-3 text-white">
                            News from the consultants
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>


</div> 
{% endblock %}