<div class="collapse navbar-collapse" id="main_navbar">
    <ul class="navbar-nav navbar-dark w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="text-uppercase font-weight-bold nav-link mr-5 text-white" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-white" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %} " class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-white" href="#" id="haircare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hair Care
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="haircare-link">
                <a href="{% url 'products' %}?category=hair_styling,shampoo,conditioner" class="dropdown-item">All Hair Care</a>
                <a href="{% url 'products' %}?category=hair_styling" class="dropdown-item">Hair Styling</a>
                <a href="{% url 'products' %}?category=shampoo" class="dropdown-item">Shampoo</a>
                <a href="{% url 'products' %}?category=conditioner" class="dropdown-item">Conditioner</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-white" href="#" id="bodycare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Body Care
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="toys-link">
                <a href="{% url 'products' %}?category=body_lotion,shower_gel,body_soap" class="dropdown-item">All Body Care</a>
                <a href="{% url 'products' %}?category=body_lotion" class="dropdown-item">Body Lotion</a>
                <a href="{% url 'products' %}?category=shower_gel" class="dropdown-item">Shower Gel</a>
                <a href="{% url 'products' %}?category=body_soap" class="dropdown-item">Body Soap</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-3 text-white" href="#" id="beard-moustache-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beard & Moustache
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="beard-moustache-link">
                <a href="{% url 'products' %}?category=moustache_care,beard_care" class="dropdown-item">All Beard & Moustache</a>
                <a href="{% url 'products' %}?category=moustache_care" class="dropdown-item">Moustache Care</a>
                <a href="{% url 'products' %}?category=beard_care" class="dropdown-item">Beard Care</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-white" href="#" id="news-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                News In Store
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="news-link">
                <a href="{% url 'products' %}?category=webshop_news" class="dropdown-item">Webshop News</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-white" href="#" id="newsletters" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Newsletters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="question">
                <a href="{% url 'newsletters' %}" class="dropdown-item">View Newsletters</a>
                {% if request.user.is_superuser %}
                <a href="{% url 'add_newsletter' %}" class="dropdown-item">Add Newsletters</a>
                {% endif %}
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-white" href="#" id="reviews" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reviews
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="reviews">
                <a href="{% url 'reviews' %}" class="dropdown-item">View Reviews</a>
                <a href="{% url 'add_reviews' %}" class="dropdown-item">Add Reviews</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-white" href="#" id="question" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FAQ
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="reviews">
                <a href="{% url 'questions' %}" class="dropdown-item">View Questions</a>
                <a href="{% url 'add_questions' %}" class="dropdown-item">Ask Questions</a>
            </div>
        </li>
    </ul>
</div>
