{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="logo-font mb-4 logout-title">{% trans "Log Out" %}</h2>
<hr>

<p class=" mb-5 ml-5 mt-5">{% trans 'Are you sure you want to Log out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <a class="btn btn-outline-black rounded-0  logout-can" href="{% url 'home' %}">Cancel</a>
  <button type="submit" class="ml-2 primaryAction">{% trans 'Log Out' %}</button>
</form>


{% endblock %}
